<div id="<%= dom_id project_status %>">
  <p>
    <strong>Status:</strong>
    <%= project_status.status %>
  </p>

  <p>
    <strong>User:</strong>
    <%= project_status.user_id %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= project_status.project_id %>
  </p>

</div>
