<p class="flex justify-between py-1 px-2 my-2 border-solid border-2 border-grey-200 rounded-md">
<span><span class="font-bold"><%= comment.user.full_name %>:</span> <%= comment[:description] %></span>
<span class="min-w-fit ml-3"><%= comment[:created_at] %></span>
</p>
