<p class="flex justify-between text-gray-500 py-1 px-2 my-2">
Project status update by <%= project_status.user.full_name %>: <%= project_status[:status] %>
<span class="min-w-fit"><%= project_status[:created_at] %></span>
</p>
